@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/images/pattern-overlay.jpg");
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.1;
}

.cursorFollower {
  position: fixed;
  width: 2rem;
  height: 2rem;
  border: 2px solid gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
.cursorFollowerDot {
  position: fixed;
  width: 0.8rem;
  height: 0.8rem;
  background: gray;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
